<section>
    <app-header></app-header>

    <div class="grid mt-5">
    <div class="col-fixed" style="width:300px">
        <div class="text-center p-3 border-round-sm shadow-1 bg-white">
            <div class="col-12">
          <div class="text-center p-2 border-round-sm uppercase font-bold text-primary">Filters</div>
        </div>
        <div class="col-12">
          <div class="text-center mr-4 ml-4 border-round-sm bg p-3 text-primary capitalize">Movie</div>
        </div>
        <div class="col-12">
          <div class="text-center mr-4 ml-4 border-round-sm bg p-3 text-primary capitalize">Species</div>
        </div>
        <div class="col-12">
          <div class="text-center mr-4 ml-4 border-round-sm bg p-3 text-primary capitalize">Star Ships</div>
        </div>
        <div class="col-12">
          <div class="text-center mr-4 ml-4 border-round-sm bg p-3 text-primary capitalize">Birth Year</div>
        </div>
        <div class="col-12">
          <div class="text-center mr-4 ml-4 border-round-sm  p-1 border-solid border-primary-500 capitalize">search</div>
        </div>
        </div>
    </div>
    <div class="col h-10rem">
        <div class="p-3 border-round-sm shadow-1 bg-white">
            <h2 class="uppercase text-primary text-sm">Search results</h2>
        </div>
    </div>
</div>

</section>