<section>
    <app-header></app-header>

    <div class="grid mt-5">
    <div class="col-fixed" style="width:300px">
        <div class="text-center p-3 border-round-sm shadow-1 bg-white">
            <div class="col-12">
          <div class="text-center p-2 border-round-sm uppercase font-bold text-primary">Filters</div>
        </div>
        <div class="col-12">
          <div class="text-center mr-4 ml-4 border-round-sm bg p-3 text-primary capitalize">Movie</div>
        </div>
        <div class="col-12">
          <div class="text-center mr-4 ml-4 border-round-sm bg p-3 text-primary capitalize">Species</div>
        </div>
        <div class="col-12">
          <div class="text-center mr-4 ml-4 border-round-sm bg p-3 text-primary capitalize">Star Ships</div>
        </div>
        <div class="col-12">
          <div class="text-center mr-4 ml-4 border-round-sm bg p-3 text-primary capitalize">Birth Year</div>
        </div>
        <div class="col-12">
          <div class="text-center mr-4 ml-4 border-round-sm  p-1 border-solid border-primary-500 capitalize">search</div>
        </div>
        </div>
    </div>
    <div class="col">
        <div class="p-3 border-round-sm shadow-1 bg-white">
            <h2 class="uppercase text-primary text-sm">Search results</h2>
        </div>
        <p-table [value]="starWarsDetails" 
         [rows]="5"
        [tableStyle]="{ 'min-width': '50rem' }"
        [paginator]="true"
        >
    <ng-template #header>
        <tr>
            <th>Sl No</th>
            <th>Character Name</th>
            <th>Species</th>
            <th>Birth Year</th>
        </tr>
    </ng-template>
    <ng-template #body let-product let-rowIndex="rowIndex">
        <tr>
            <td>{{ rowIndex + 1 }}</td>
            <td>{{ product.name }}</td>
            <td>{{extractResourceAndId(product.species[0])}}</td>
            <td>{{ product.birth_year }}</td>
        </tr>
    </ng-template>
</p-table>
    </div>
</div>

</section>